<h2>Nouvelle Facture</h2>
<div>
    <form action="">
        <label for="Numero Article">Numero Facture</label>
        <input type="text" name="" id="">
        <br><label for="Numero Article">Date Facture</label>
        <input type="datetime" name="" id="">
        <br><label for="Numero Article">Nom Article</label>
        <input type="text" name="" id="">
        <br><label for="Numero Article">UOM</label>
        <input type="text" name="" id="">
        <br><label for="Numero Article">QTE</label>
        <input type="text" name="" id="">
        <br><label for="Numero Article">PU</label>
        <input type="text" name="" id="">
        <br><label for="Numero Article">PT</label>
        <input type="text" name="" id="">
        <br><label for="Numero Article">Client</label>
        <input type="text" name="" id="">
        <br><label for="Numero Article">Point</label>
        <input type="text" name="" id="">
        <br><label for="Numero Article">Numero Facture</label>
        <input type="text" name="" id="">
        <br>
        <button>+ Ajouter</button>
    </form>
</div>